datasets/**/*.png
datasets/**/*.jpg
datasets/**/*.jpeg
datasets/**/*.txt

!datasets/test/*.jpg

*.mp4
*.zip

*.pt
*.ckpt
*.cache

*.blend1
blender/assets
blender/renders
blender/masks
blender/texcoords

lightning_logs
wandb
runs
models/yolo
models/yolo-multiclass

/scripts/countlines.py
venv
requirements.txt
**/__pycache__/**