datasets
*.zip

**.blend1
blender/assets
blender/renders
blender/masks
blender/texcoords

lightning_logs
wandb
runs
models/yolo
models/yolo-multiclass
**.pt
**.ckpt

!**.yaml
!keyrover/datasets

/scripts/countlines.py
